<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<script th:src="@{/jquery-1.8.3.min.js}"></script>
<body>
    <p>账号：<input type="text" name="username" id="username"/></p>
    <p>密码：<input type="text" name="password" id="password"/></p>
    <p><input type="button" value="登录" onclick="requestJson()"/></p>
</body>
<script>
    function requestJson() {
        var username = $("#username").val();
        alert(username);
        var password = $("#password").val();
        $.ajax({
            type: "post",
            url: "/Sign",
            data: {
                "username": username, "password":password
            },
            success: function (data) {
                var state = data.stateMsg;
                alert(state);
                if(state == 0){
                    window.location.href="http://localhost:8080/userInfo";
                }
            }
        });
    }
</script>
</html>